* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#game {
    width: 450px;
    height: 450px;
    
    margin: 250px auto;
    display: flex;
    flex-wrap: wrap;
}
.block {
    width: 30%;
    height: 30%;
    margin: 7.5px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: sans-serif;
}